.read {
  border: none;
  background-color: transparent;
  text-align: center;
  border-radius: 16px;
  font-size: 13px;
  color: #444;
  cursor: pointer;
  box-shadow: 0 0 10px -5px #666666;

  &:hover {
    color: rgb(15, 136, 235);
  }
}

.article-container {
  width: 95%;
  min-height: 180px;
  box-sizing: border-box;
  margin: 20px 0 20px 0;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  overflow: hidden;
  transition: all 1s;
  text-align: center;

  &:hover {
    box-shadow: 0 5px 10px 3px rgba(110, 110, 110, 0.4);

    .article-title {
      h3 {
        color: rgb(15, 136, 235);
      }
    }
  }
}


.article-item {
  width: 100%;
  padding: 5px 8px;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.date {
  color: #4e5969;
  font-size: 12px;
  line-height: 22px;
  margin-bottom: 8px;
}

.tag {
  color: #888888;
  font-size: 12px;

  span {
    margin-right: 5px;
  }
}

.dividing {
  width: 1px;
  height: 14px;
  background: #e5e6eb;
  margin: 0 8px;
}

a {
  text-decoration: none;
}

.article-title {
  width: 100%;
  margin-top: 5px;

  h3 {
    font-weight: 700;
    font-size: 18px;
    color: #1d2129;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

  }
}

.article-description {
  margin-top: 5px;
  margin-bottom: 8px;
  width: 100%;

  span {
    word-wrap: break-word;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: #86909c;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.article-data {
  width: 100%;
  display: flex;
  position: relative;
  bottom: 0px;
  left: 0;
  height: 20px;
  justify-content: center;
  align-items: center;

  div {
    margin-left: 8px;
    color: #4e5969;

    span {
      font-size: 12px;
    }
  }
}